<div class="layout single">
  <div class="container-fluid">
    <div class="row-fluid"><div class="span12"></div></div>

    <!-- Header content. -->
    <div class="row-fluid">
      <!-- Left gap. -->
      <div class="span1"></div>

      <!-- Show logo. -->
      <div class="span10">
        <h1 class="logo"><a href="#">backstagram</a></h1>
        <hr>
      </div>

      <!-- Right gap. -->
      <div class="span1"></div>
    </div>

    <!-- Main content. -->
    <div class="row-fluid">
      <!-- Left hand - central content. -->
      <div class="span12">
        <!-- Show main content here. -->
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>